# ignore prsoners results file
PrisonersResults.txt

# ignorig check file for running model backend
check.py

# ignorig text file for tests model backend
stam.py

# ignorig probabilities file for tests model backend
probabilities.py